/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar Styles */
nav {
  background-color: #b2d8d8; /* light teal */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  font-size: 1.35em ;
  color: #ffffff;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1.5em;
  font-size: 1.2em;
}

/* Add a hover effect for links to show they're interactive */
nav a:hover,
#header-logo:hover {
    color: #003333; /* Darker shade of teal */
    cursor: pointer;
}

/* Increase spacing between navigation links for better touch target size and visual separation */
nav a:not(:last-child) {
    margin-right: 1em;
}

/* Change the color when link is actively being clicked */
nav a:active,
#header-logo:active {
    color: #004d4d; /* Even darker shade of teal for an active/click effect */
}

#header-logo {
  text-align: center; /* Keeps the text centered */
  color: white; /* Dark grey color for the text */
  font-size: 2.5em; /* Increases the font size */
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow to the text */
  font-family: 'Georgia', serif; /* You can change this to your preferred font-family */
  font-weight: bold; /* Makes the text bold */
}

/* Dashboard Styling */

body {
  font-family: 'Arial', sans-serif;
  background-color: white;
}

.activity-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.activity-card {
  width: 250px;
  height: 250px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.activity-card:hover {
  transform: scale(1.05);
}

.activity-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.7); */
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 2em;
}

.activity-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.customize-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #b2d8d8;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 15px;
}

.customize-btn:hover {
  background-color: #003333; 
  color: #ffffff; 
  transform: scale(1.07);
}

.add-custom-item-btn:hover,
.save-list-btn:hover {
  background-color: #003333; 
  color: #ffffff; 
  transform: scale(1.07);
}

.dropdown-btn:hover {
  background-color: #003333; 
  color: #ffffff; 
  transform: scale(1.07);
}

.customization-section {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-top: 20px;
}

.item-dropdown, .custom-item-input {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.add-custom-item-btn, .save-list-btn {
  margin-top: 15px;
  padding: 10px 15px;
  color: white;
  background-color: #b2d8d8;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.item-list {
  list-style-type: disc;
}

.item-list li {
  position: relative;
  margin-bottom: 10px;
  padding: 8px 12px;
  /* background-color: whitesmoke; Replaced lightteal */
  padding-right: 40px
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.custom-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: white;
  width: 200px;
  overflow: auto;
}

.dropdown-btn {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #ffffff;
  background-color: #b2d8d8;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.custom-dropdown label {
  display: block;
  padding: 8px 12px;
  cursor: pointer;
}

.custom-dropdown input[type="checkbox"] {
  margin-right: 10px;
}

.list-title-display {
  font-size: 30;
}

.stylish-list {
  border: 2px solid lightblue;
  border-radius: 10px;
  padding: 25px;
  margin-top: 20px;
  max-width: 300px;
}

.stylish-list-title {
  margin-bottom: 15px;
}

.list-title-input {
  margin-bottom: 10px;
}

.list-title {
    font-weight: bold;
    font-size: 24px;
    /* Add any additional styling here */
}

.delete-item {
  position: absolute;
  right: 10px;  /* Moves it to the rightmost with a 10px offset */
  top: 50%;    /* Center it vertically */
  transform: translateY(-50%);  /* Adjust it perfectly centered */
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #b2d8d8;
  color: white;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  vertical-align: middle;
}

#create-list {
  text-align: center; /* Keeps the text centered */
  color: #004d4d; /* Dark grey color for the text */
  font-size: 3.65em; /* Increases the font size */
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow to the text */
  /* background: linear-gradient(90deg, rgba(178,216,216,1) 0%, rgba(255,255,255,1) 100%); Background gradient */
  padding: 20px; /* Adds space around the text */
  border-radius: 10px; /* Rounds the corners */
  display: inline-block; /* Aligns with the text content */
  font-family: 'Georgia', serif; /* You can change this to your preferred font-family */
  font-weight: bold; /* Makes the text bold */
  margin-left: auto; /* Left margin set to auto */
  margin-right: auto; /* Right margin set to auto */
  display: block; /* Makes the element a block-level element */
  width: fit-content; /* Fits the width to the content */

}





