/* General styling for the page */
body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke; /* white background */
  }

#my-activity-lists {
    text-align: center; /* Keeps the text centered */
    color: #004d4d; /* Dark grey color for the text */
    font-size: 3.2em; /* Increases the font size */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow to the text */
    /* background: linear-gradient(90deg, rgba(178,216,216,1) 0%, rgba(255,255,255,1) 100%); Background gradient */
    padding: 5px; /* Adds space around the text */
    border-radius: 10px; /* Rounds the corners */
    display: inline-block; /* Aligns with the text content */
    font-family: 'Georgia', serif; /* You can change this to your preferred font-family */
    font-weight: bold; /* Makes the text bold */
    margin-left: auto; /* Left margin set to auto */
    margin-right: auto; /* Right margin set to auto */
    display: block; /* Makes the element a block-level element */
    width: fit-content; /* Fits the width to the content */

}


/* Activity grid container */
.activity-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Activity card styling */
.activity-card {
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.activity-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .activity-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
  }

.activity-label h3 {
    margin: 0;
    color: white;
    font-size: 2em;
}

.activity-card:hover {
    transform: scale(1.05)
}

.activity-card:hover .delete-list-button {
    display: block;
}

/* Stylish list container */
.stylish-list {
    margin: 20px;
}

.stylish-list h3 {
    color: #333;
}

.item-list {
    list-style: none;
    padding: 0;
}

.item-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.delete-list-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    color: red;
    cursor: pointer;
}



.delete-button {
    float: right;
    color: red;
    cursor: pointer;
}

/* Dropdown section styling */
.dropdown-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.add-item-btn,
.update-list-btn {
    margin-top: 15px;
    padding: 10px 15px;
    color: white;
    background-color: #b2d8d8;
    border: none;
    cursor: pointer;
    border-radius: 15px;
  }

.item-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

/* Navigation Bar Styles */
nav {
    background-color: #b2d8d8; /* light teal */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    font-size: 1.35em ;
    color: #ffffff;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 1.5em;
    font-size: 1.2em;
  }

  /* Add a hover effect for links to show they're interactive */
nav a:hover,
#header-logo:hover {
    color: #003333; /* Darker shade of teal */
    cursor: pointer;
}

/* Increase spacing between navigation links for better touch target size and visual separation */
nav a:not(:last-child) {
    margin-right: 1em;
}

/* Change the color when link is actively being clicked */
nav a:active,
#header-logo:active {
    color: #004d4d; /* Even darker shade of teal for an active/click effect */
}

/* Style the h1 logo in the header for better visual indication and separation */
#header-logo {
    text-align: center; /* Keeps the text centered */
    color: white; /* Dark grey color for the text */
    font-size: 2.5em; /* Increases the font size */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow to the text */
    font-family: 'Georgia', serif; /* You can change this to your preferred font-family */
    font-weight: bold; /* Makes the text bold */
}
